[Unit]
Description=Raspberry Hotspot
After=network.target

[Service]
ExecStart=~/Desktop/mobile-robots-project/rasp-hotspot.sh

[Install]
WantedBy=default.target