[Unit]
Description=Ustream Service
After=network.target

[Service]
ExecStart=~/Desktop/mobile-robots-project/ustreamer.sh

[Install]
WantedBy=default.target